body {
  background-color: #252526;
  color: aliceblue;
  display: flex;
}

.activity {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
}

.side {
background-color: #1e1e1e;
}

.edit {
margin-left: 20%;
}

.status {
  margin-top: 97%;
}

/* CSSでアニメーションを定義 */
@keyframes glowing {
  0% { box-shadow: 0 0 5px #3a7cde; }
  50% { box-shadow: 0 0 20px #3a7cde; }
  100% { box-shadow: 0 0 5px #3a7cde; }
}

/* ヒント用のクラス */
.highlight-hint {
  animation: glowing 1.5s infinite; /* 1.5秒かけて光るアニメーションを繰り返す */
}